<launch>

  <arg name="debug_directory" value="$(env HELLO_FLEET_PATH)/debug/" />
  <param name="robot_description" textfile="$(find stretch_description)/urdf/stretch.urdf" />
  <arg name="calibrated_controller_yaml_file"
    value="$(find stretch_core)/config/controller_calibration_head.yaml" />

  <!-- GUI WITH JOINT SLIDERS -->
  <!--
  <node
      name="joint_state_publisher_gui"
      pkg="joint_state_publisher_gui"
      type="joint_state_publisher_gui" >
    <param name="rate" value="15.0"/>
    <rosparam param="source_list">
      [/stretch/joint_states]
    </rosparam>
  </node>
  -->

  <!-- JOINT STATE PUBLISHER -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="rate" value="30.0" />
    <rosparam param="source_list">
      [/stretch/joint_states]
    </rosparam>
  </node>
  <!-- -->

  <!-- ROBOT STATE PUBLISHER -->
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher">
    <param name="publish_frequency" value="30.0" />
  </node>
  <!-- -->

  <!-- STRETCH DRIVER -->
  <param name="/picker_demo/broadcast_odom_tf" type="bool" value="true" />
  <param name="/picker_demo/fail_out_of_range_goal" type="bool" value="false" />
  <node name="picker" pkg="picker_demo" type="picker.py"
    output="screen">
    <param name="rate" type="double" value="30.0" />
    <param name="timeout" type="double" value="0.5" />
    <remap from="cmd_vel" to="/stretch/cmd_vel" />
    <remap from="joint_states" to="/stretch/joint_states" />
    <param name="controller_calibration_file" type="string"
      value="$(arg calibrated_controller_yaml_file)" />
  </node>
  <!-- -->

  <!-- REALSENSE D435i -->
  <include file="$(find stretch_core)/launch/d435i_high_resolution.launch"></include>
  <node name="d435i_configure" pkg="stretch_core" type="d435i_configure" output="screen">
    <!--<param
    name="initial_mode" type="string" value="Default"/>-->
    <param name="initial_mode" type="string" value="High Accuracy" />
  </node>
  <!-- -->

  <!-- FRUSTUM FIELD OF VIEW VISUALIZATION -->
  <node name="d435i_frustum_visualizer" pkg="stretch_core" type="d435i_frustum_visualizer"
    output="screen" />
  <!-- -->

  <!-- OBJECT DETECTOR -->
  <node name="object_detector" pkg="stretch_deep_perception" type="detect_objects.py"
    output="screen">
    <param name="debug_directory" type="string" value="$(arg debug_directory)" />
  </node>
  <!-- -->

  <!-- KEYBOARD TELEOP -->
  <!-- <node name="keyboard_teleop" pkg="stretch_core" type="keyboard_teleop" output="screen"/> -->
  <!-- -->

  <!-- VISUALIZE DETECTION -->
  <node name="rviz" pkg="rviz" type="rviz" output="screen"
    args="-d $(find stretch_deep_perception)/rviz/object_detection.rviz" />
  <!-- -->

  <!-- AUDIO SPEAKER -->
  <node name="audio" pkg="picker_demo" type="audio.py"
    output="screen">
    <param name="debug_directory" type="string" value="$(arg debug_directory)" />
  </node>
  <!-- -->

  <!-- API -->
  <node name="api" pkg="picker_demo" type="api.py"
    output="screen">
    <param name="debug_directory" type="string" value="$(arg debug_directory)" />
  </node>
  <!-- -->

</launch>